/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
}

/* Map Container */
#map { 
  position: absolute; 
  top: 0;
  bottom: 0; 
  left: 0; 
  right: 0; 
}

.mapboxgl-ctrl-top-right {
  top: 4.5rem;
}
/* Mapbox Popup Styles */
.mapboxgl-popup-close-button {
  display: none;;
}

.mapboxgl-popup-content {
  font: 300 1rem/1.5 'Lato', 'Helvetica Neue', sans-serif;
  padding: 0.5rem;
  width: 90%; 
}

.mapboxgl-popup-content h2 {
  background: #91c949;
  color: #fff;
  margin: 0;
  padding: 0.5rem 0.8rem;
  font-weight: bold;
  font-size: 1.0rem;
  display: block;
  width: calc(100% + 1rem);
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-top: -0.5rem;
  box-sizing: border-box;
}

.mapboxgl-popup-content button {
  background-color: #91c949;
  color: #fff;
  border: none;
  border-radius: 0.4rem; 
  padding: 0.5rem 1rem;
  margin-top: 0.5rem; 
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 1rem; 
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

/* Sidebar */
#sidebar {
  width: 30%;
  background: rgba(136, 136, 136, 0.9);
  padding: 1rem;
  overflow-y: auto;
  position: absolute;
  top: 10vh;
  right: 0;
  z-index: 1;
  height: calc(100% - 10vh);
  transition: transform 0.4s ease;
  transform: translateX(100%);
}

#sidebar.visible {
  transform: translateX(0);
}

#sidebar p{
  margin-top: 1rem;
}

#about-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ADBABC;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#about-popup p {
  color: #17343B
}

#about-popup button {
  margin-top: 10px;
}

/* Legend */
#legend {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-45%);
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 10;
  max-width: calc(100% - 24vw); 
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow: hidden;
  max-height: 500px;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.legend.collapsed {
  display: none;
}

.legend-item {
  display: flex;
  background-color: #DAD8D4;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
  width: 100%; 
  box-sizing: border-box;
  border-radius: 4px;
  transition: background-color 0.1s ease;
  cursor: pointer;
}

.legend-item.disabled {
  background-color: #FFFFFF;
  color: #a0a0a0;
}

.legend-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.legend-color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.legend-content {
  display: block;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 800px;
  overflow: hidden;
  opacity: 1;
  overflow-y: auto;
}

.legend-category-content.collapsed {
  display: none;
}

.legend-toggle-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-bottom: 5px;
  z-index: 11; 
}

/* Top Navigation Bar */
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.85) ;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 100;
  overflow: visible;
}

/* Title Section */
.topnav .title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
  margin-right: 2rem;
}

.topnav .main-title {
  font-family: "utopia-std", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vh;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
}

/* Navigation Links (Buttons) */
.topnav button {
  display: block;
  padding: 0.7rem;
  margin: 0.2rem;
  background: #A8100B;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
}

.topnav button:hover {
  background: #8a0d09;
}

.topnav button.menu-button {
  flex-shrink: 1;
}

/* Search Bar Styles */
.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  flex-grow: 1;
  overflow: visible;
}

.search-bar {
  padding: 0.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 12rem;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  color: black;
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  max-height: 20rem;
  overflow-y: auto;
  display: none;
  z-index: 1100;
}

.search-dropdown div {
  padding: 0.5rem;
  cursor: pointer;
}

.search-dropdown div:hover {
  background: #f0f0f0;
}

.search-bar:focus + .search-dropdown {
  display: block;
}

.topnav .icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #17343B;
  margin-left: auto;
  position: fixed;
  right: 1rem;
}


/* Media Queries for further adjustments */
/* Responsive Styles */
@media screen and (max-width: 800px) {
  /* Hide menu buttons initially */
  .topnav button:not(:first-child),
  .search-bar-container {
    display: none;
  }

  .topnav .icon {
    display: block;
  }

  .topnav.responsive {
    flex-direction: column;
  }

  .topnav.responsive button {
    display: block;
    text-align: left;
    width: 100%;
    border-radius: 0;
  }

  .topnav.responsive .search-bar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem 0;
  }

  .topnav.responsive .title-container {
    width: 100%;
    align-items: flex-start;
  }

  #legend {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    width: 100vw;
    max-width: 100vw;
    border-radius: 0;
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
    box-shadow: 0 -0.2rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  .legend {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 8vh;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .legend-item {
    flex-direction: row;
    font-size: 0.9rem;
    margin-bottom: 1px;
    margin-right: 8px;
  }

  .legend-icon,
  .legend-color-box {
    width: 10px;
    height: 10px;
  }

  #sidebar {
    width: 100%;
    height: 50%;
    top: auto;
    bottom: 0;
    transform: translateY(100%);
  }

  #sidebar.visible {
    transform: translateY(0);
  }
}

@media screen and (min-width: 1500px) {
  #legend {
    font-size: 1.15rem;
    padding: 1.5rem;
    max-width: 28vw;
  }
  .legend {
    max-height: 600px;
    gap: 10px;
  }
  .legend-item {
    font-size: 1.05rem;
    padding: 8px;
  }
  .legend-icon,
  .legend-color-box {
    width: 26px;
    height: 26px;
    margin-right: 12px;
  }
}